@page "/pets/edit/{Id:int}"

<h3>Editar mascota</h3>

@if (pet is null)
{
    <Loading />
}
else
{
    <PetForm @ref="petForm" Pet="pet" OnValidSubmit="EditPetAsync" ReturnAction="Return"></PetForm>
}