@page "/pets/details/{Id:int}"

@if (pet is null)
{
    <Loading />
}
else
{
    <PetProfile TModel="Pet" Model="@pet" />
    <div class="mb-2">
        <a class="btn btn-success" href="/pets">Regresar</a>
    </div>
}