@page "/successCase/create";


<h3>Crear nuevo Caso de éxito</h3>

<SuccessCaseForm @ref="successCaseForm" SuccessCase="@successCase" OnValidSubmit="CreateAsync" ReturnAction="Return"></SuccessCaseForm>