<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="SuccessCaseName">Name</label>
        <InputText class="form-control" @bind-Value="@SuccessCase.Name" id="SuccessCaseName" placeholder="Nombre del caso de éxito" />
    </div>

    <div class="form-group">
        <label for="stauts">Estado</label>
        <InputText class="form-control" @bind-Value="@SuccessCase.Status" id="status" placeholder="Status" />
    </div>

    <div class="form-group">
        <label for="text">Descripción</label>
        <InputTextArea class="form-control" @bind-Value="@SuccessCase.Description"></InputTextArea>
    </div>

    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>
