@page "/articles"

<h3>Artículos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/articles/create">Crear nuevo artículo</a>
</div>

<GenericList MyList="Articles">
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />

        <Filter TModel="Article" ApplyFilterAsync="ApplyFilterAsync" CleanFilterAsync="CleanFilterAsync"/>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>                    
                    <th>Photo</th>
                    <th>Fecha de Creación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Articles!)
                {
                    <tr>
                        <td>@article.Title</td>                        
                        <td style="width:100px;"><img src="@article.PhotoPath" class="img-thumbnail"></td>
                        <td>@article.CreatedAt</td>
                        <td>
                            <a href="/articles/edit/@article.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a href="/articles/details/@article.Id" class="btn btn-info btn-sm">Detalless</a>
                            <button @onclick="@(() => DeleteAsync(article))" class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>