@typeparam TModel

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar país..." @bind-value="FilterValue" />
    <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilter">Filtrar</button>
    <button type="button" class="btn btn-outline-danger" @onclick="CleanFilter">Limpiar</button>
</div>