<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">petConnection.FrontEnd</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pets">
                <span class="bi bi-gitlab" style="margin-right:10px;" aria-hidden="true"></span> Mascotas
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="articles">
                        <span class="bi bi-card-text" style="margin-right:10px;" aria-hidden="true"></span> Artículos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="successCases">
                        <span class="bi bi-emoji-laughing-fill" style="margin-right:10px;" aria-hidden="true"></span> Casos de éxito
                    </NavLink>
                </div>


                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="countries">
                        <span class="bi bi-globe" style="margin-right:10px;" aria-hidden="true"></span> Paises
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

